body {
    color: black;
    font-weight: 400;
    padding-top: 5rem;
  }

  .borderSection {border-style: groove;    margin-top: 20px; padding-left: 20px; padding-right: 20px;}
div.checkInternet {background-color: #d8cdcd;}